.header {
    background: rgba(255,255,255,0.9);
    display: flex;
    justify-content: center;
    margin: 30px;
    align-items: center;
}

.header #topnav_path {
    position: absolute;

}

.header #topnav_path a:hover {
    border-bottom: rgba(161, 161, 161, 0.54) 2px solid;
    transition: 0.3s;
}

.header_project_title {
    font-size: 30px;
}

.header_button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 0 5px 0 5px;
}

.header_button_active {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 0 5px 0 5px;
    border-bottom: #ffffff 2px solid;

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    grid-template-rows: 1fr 1fr;
    margin-left: 60px;
    margin-right: 60px;
}

.informationContainer {
    display: flex;
    flex-direction: column;
    /*width: 415px;*/
    border: #8EB7C5 4px solid;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    background-color: white;
    align-items: center;
}

.fundamentalsContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    grid-template-rows: 1fr 1fr;
    margin-left: 60px;
    margin-right: 60px;
}

.infomationContainerFundamentals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.titleContainer {
    border: #8EB7C5 4px solid;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    background-color: white;
    align-items: center;
}

.informationContainerLink {
    text-decoration: none;
    color: black;
}

.title {
    margin: 2px;
    text-align: center;
}

.image {
    width: 15em;
    padding: 1px;
}

.imageIndex {
    width: 15em;
    padding: 1px;
    height: 125px;
}

.notes {
    font-size: 12px;
}

.body {
    background-color: #222;
    /*background-image: url(../images/dark.jpg);*/
}
