<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%%DOCUMENT_TITLE%%</title>
    <link rel="stylesheet" href="../assets/global.css">
</head>
<body>
    
    <div class="nav-container">
        
        <div class="header">
            <div id="topnav_path">
                <a class="header_button" href="/search-movies">Search</a>
                <a class="header_button" href="/watched-movies">Watched</a>
                <a class="header_button" href="/account-settings">Settings</a>
                <a class="header_button" id="freeshit" href="#">free</a>
                <a class="header_button" id="verified" href="#">verified</a>

            </div>
        </div>
    </div>


    <script src="../components/header/header.js"></script>
