body {
    background-color: #15172b;
}

.form-container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.form {
    background-color: #303245;
    border-radius: 20px;
    box-sizing: border-box;
    height: 20.5rem;
    padding: 20px;
    width: 40rem;
}

.headline {
    font-weight: 800;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.label {
    font-weight: 800;
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
}

.password {
    background-color: white;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: black;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.btn {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 3rem;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
}
